<!DOCTYPE html>
<html lang="en">
<head>
  {% load static  %}  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>FarmBlocks</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

  <link href="{% static 'main/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'main/js/materialize.js' %}"></script>
  <!-- <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
</head>
<body>

  
<!-- end of navigation bar -->
  <!-- nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right" ><img src="{% static 'main/images/book_logo.png' %}"/></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav> -->
   <nav class="nav-extended">
    <div class="nav-wrapper teal">
      <a href="#" class="brand-logo right">FarmBlocks
        <img src="static 'main/images/logo.png'">
      </a>
     
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
    <div class="nav-content teal">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">Home</a></li>
        <li class="tab"><a class="active" href="#test2">Products</a></li>
        <li class="tab disabled"><a href="#test3">register</a></li>
        <li class="tab"><a href="#test4">Manufacturer</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">JavaScript</a></li>
  </ul>

  <div id="test1" class="col s12">Test 1</div>
  <div id="test2" class="col s12">Test 2</div>
  <div id="test3" class="col s12">Test 3</div>
  <div id="test4" class="col s12">Test 4</div>        




<!-- Search bar -->

  

  <!--  Scripts-->
  
 

  </body>
</html>
