{% extends 'main/index.html' %}
 {% block content %}
    
    
      <div class="col">
        <div class="col s12 m6">
          <div class="card blue">
            <div class="card-content black-text">
              <span class="card-title"><strong>Fertilizer</strong></span>
              <p>Quantity:2 Organic </p>
            </div>
          </div>
        </div>
      </div>
   
   <div class="col">
        <div class="col s12 m6">
          <div class="card blue">
            <div class="card-content black-text">
              <span class="card-title"><strong>Apples</strong></span>
              <p>Quantity:3 Kashmiri</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col s12 m6">
          <div class="card blue">
            <div class="card-content black-text">
              <span class="card-title"><strong>Peaches</strong></span>
              <p>Quantity:3 Egyptian</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col s12 m6">
          <div class="card blue">
            <div class="card-content black-text">
              <span class="card-title"><strong>Custard Apples</strong></span>
              <p>Quantity:0 from Karnataka</p>
            </div>
          </div>
        </div>
      
  {% endblock %}